@font-face {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	counter-reset: gridcounter;
	color: #000;
	background: #f0f0f0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #999;
	outline: none;
}

a:hover,
a:focus {
	color: #000;
	outline: none;
}


/* Content */

.grid {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 0;
	list-style: none;
	max-width: 60em;
	margin: 3em auto 0;
}

.grid__item {
	position: relative;
	text-align: center;
	background: #fff;
	margin: 5em 0 0;
	width: 100%;
	min-height: 1em;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-align-content: center;
	align-content: center;
}

.hidden {
	display: none;
}

@keyframes octocat-wave {
	0%,100% {
		transform: rotate(0);
	}
	20%,60% {
		transform: rotate(-25deg);
	}
	40%,80% {
		transform: rotate(10deg);
	}
}
